
backend/langdeck-farm/
*.old
*.old
*.old
src/components/ChartCountryLanguages.jsx
backend/.env
backend/routers/__pycache__/countries.cpython-39.pyc
backend/routers/countries.py
backend/routers/__pycache__/countries.cpython-39.pyc
backend/routers/__pycache__/countries.cpython-39.pyc
