@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://use.typekit.net/tjn2ftb.css');
@import url('https://fonts.cdnfonts.com/css/euclid-circular-b');
                
                                               
body {
    font-family: 'Euclid Circular B', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logo {
    background-color: #43BED9;
}

.logo img{
    width:80px;
}

.r-card {
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #43BED9;
    color:white;
    font-family: neue-haas-grotesk-display,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    letter-spacing:-1px;
}

.r-card-img img {
    width:50%;
}

.c-card {
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #6DBF1B;
    color:white;
    font-family: neue-haas-grotesk-display,sans-serif;
    font-weight: 600;
    font-style: normal;  
    font-size: 2rem;
    letter-spacing:-1px;
}

.c-card-img img {
    width:50%;
}

.l-card {
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #FA7F08;
    color:white;
    font-family: neue-haas-grotesk-display,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    letter-spacing:-1px;
}